nav {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: #4a64a8;
}

.img img {
    width: 30%;
}

#logo {
    width: 100%;
}
.welcome {
    float: right;
    color: white;
    margin-right: 1em;
    margin-top: -2.5em;
}

/*Welcome for manufacturer dashboard*/
.welcomeMan {
    float: right;
    color: white;
    margin-right: 1em;
    margin-top: -2.5em;
    font-size: xx-large;
}

/*image for viewcart button on pharm manager*/
#cart {
    float: right;
    color: white;
    cursor: pointer;
    margin-top: -2em;
    background: none;
    margin-right: 1em;
    font-weight: bold;
    font-size: x-large;
    border-style: solid;
}

#cartImg {
    width: .8em;
    margin-top: .2em;
    margin-left: .1em;
    margin-right: .2em;
}

#cart:hover {
    background-color: #364875;
    transition: all 250ms ease-in-out;
}

/*buttons formatting*/
.menu {
    display: flexbox;
    text-align: center;
    position: relative;
}

#menuButton {
    width: 6em;
    margin: .5em;
    height: 14em;
    color: white;
    cursor: pointer;
    display: flexbox;
    text-align: center;
    border-width: .05em;
    border-radius: .1em;
    border-style: solid;
    font-size: xxx-large;
    border-color: #4a64a8;
    background-color: #4a65a888;
    transition: all 250ms ease-in-out;
}

#menuButton:hover {
    background-color: rgb(74,100,168, 0.8);
}

.capWord {
    text-transform: capitalize;
}

/*specfic buttons for manufacturer dashboard*/
#manMenuButton {
    width: 8em;
    margin: .5em;
    height: 22em;
    color: white;
    cursor: pointer;
    display: flexbox;
    text-align: center;
    font-size: x-large;
    border-width: .05em;
    border-radius: .1em;
    border-style: solid;
    border-color: #4a64a8;
    background-color: #4a65a888;
    transition: all 250ms ease-in-out;
}

#manMenuButton:hover {
    background-color: #4a64a8;
    background-color: rgb(74,100,168, 0.8);
}

.coloredBtn {
    color: white !important;
    background-color: #4a64a8 !important;
}

/* Formatting for the view cart page of pharmacy manager*/
.yourCart {
    float: right;
    color: white;
    margin-right: 1em;
    margin-top: -1.5em;
    font-size: xxx-large;
}

.itemsTable {
    margin: 1em;
    text-align: left;
    background-color: rgb(206, 207, 207, 0.7);
}

.itemsTable table, th, #item{
    border-style: solid;
    border-color: #4a64a8;
} 

tr {
    border-style: solid;
    border-color: #4a64a8;   
}

table {
    width: 100%;
    padding: 1em;
    font-size: x-large;
    border-collapse: collapse;
}

.itemsTable th, #item {
    text-align: left;
}

#quantity {
    width: 3em;
    font-size: x-large;
}

#delete {
    float: right;
    cursor: pointer;
    background: none;
    font-size: x-large;
}

#delete:hover {
    text-decoration: underline;
}

#swap {
    color:white;
    cursor: pointer;
    margin-left: 1em;
    font-size: x-large;
    border-radius: .5em;
    background-color: #4a64a8;
    transition: all 250ms ease-in-out;
}

#swap:hover {
    background-color: #4a65a888;
}

#total {
    height: 0em;
    text-align: center;
    font-size: x-large;
}

#addItems {
    margin-left: 1em;
    float: left;
}

.extraButtons button {
    color: white;
    cursor: pointer;
    position: relative;
    font-size: x-large;
    text-align: center;
    border-style: solid;
    border-radius: .1em;
    border-width: .05em;
    border-color: #233050;
    background-color: #4a64a8;
    transition: all 250ms ease-in-out;
}

.placeOrder:hover {
    background-color: #2d8f56;
}

#addItems:hover {
    background-color: #233050;
}

.placeOrder {
    height: 3em;
    float: right;
}

.notification li {                     /* Notification for new info in pharmacist */        
    max-width: 6cm;
    font-size: large;
    font-weight: 400;
    margin-right: 1cm;
    word-wrap:break-word;
}

.notification p {
    color: black;
    font-weight: bold;
    font-size: x-large;
    margin-right: 0.5em;
}

.notification {
    float: right;
    margin-top: 6em;
    margin-right: 6em;
}

.return {
    float: left;
    color: white;
    cursor: pointer;
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 3em;
    position: relative;
    text-align: center;
    font-size: x-large;
    border-style: solid;
    border-width: .05em;
    border-radius: .1em;
    border-color: #233050;
    background-color: #4a64a8;
    transition: all 250ms ease-in-out;
}

.return:hover {
    background-color: #233050;
}

/* Styles for your pharmacy page */

#range {
    margin: 1em;
    font-size: large;
    margin-bottom: 3em;
}

#viewInventory {
    float: right;
}

.tableHeader {
    margin: .3em;
}

.sortBy > input {
    margin-left: 1em;
}

.tableSort {
    height: 39em;
    overflow-y: scroll;
}

.tableSort>table>thead>tr>th {
    top: 0px;
    position: sticky;
    border: 3px solid #4a64a8;
    background-color: rgb(206, 207, 207);
}

.scrollTableSort {
    margin: 1em;
    height: 33em;
    max-width: 100%;
    overflow-y: scroll;
    background-color: rgb(206, 207, 207, 0.7);
}

.scrollTableSort>table>thead>tr>th {
    top: 0px;
    position: sticky;
    border: 3px solid #4a64a8;
    background-color: rgb(206, 207, 207);
}

#expDate {
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    font-weight: bold;
    font-size: x-large;
}

#expDate:hover {
    text-decoration: underline;
}

.searchBar {
    height: 2em;
    font-size: xx-large;
    border-radius: .3em;
}

#emptycart {
    margin-top: 3em;
    text-align: center;
}

#addItem {
    color: white;
    cursor: pointer;
    font-size: x-large;
    text-align: center;
    border-width: .05em;
    border-radius: .1em;
    border-style: solid;
    border-color: #233050;
    background-color: #4a64a8;
    transition: all 250ms ease-in-out;
}

#addItem:hover {
    background-color: #233050;
}

#searchTable {
    background: none;
    margin-top: -1em;
    padding-bottom: 1em;
}

#salesButtons {
    padding-bottom: 5em;
}